 /*Nome do arquivo: README.MD
 Data de criação: 15/05/2025
 Autor: Matheus Alencar Cavalcante
 Matrícula: 01568969
 */


body{
  background-color: rgb(124, 123, 123);
}

header{
  text-align: center;
}

.container{
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.cartas-layout{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.area-carta{
  flex: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  padding-top: 50px;
}

.procurar-carta{
  flex: 1;
  padding: 5px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.pesquisar-carta{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.butao-carta{
  padding: 20px;
  background-color:rgba(38, 38, 139, 0.818);
  color: white;
  border-radius: 4px;
}

.carta-info{
  padding: 15px;
}

.carta-img{
  max-height: 400px;  
}

.carta-img2{
  max-width: 150px;
  padding-left: 12px;

}

.row-cols2{

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

}

.cards-buscas{
  width: 120px;
  height: auto;
  border-radius: 8px;

}


