body{
  background-color: rgb(124, 123, 123);
}


.container{
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.cartas-layout{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.area-carta{
  flex: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  padding-top: 50px;
}

.procurar-carta{
  flex: 1;
  padding: 5px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.pesquisar-carta{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.butao-carta{
  padding: 20px;
  background-color:rgba(38, 38, 139, 0.818);
  color: white;
  border-radius: 4px;
}

.carta-info{
  height: 200px;
  padding: 15px;
}

.carta-img{
  max-height: 400px;  
}